<div class="home">
  <section class="hero">
    <div class="hero-body hero-container">
      <div class="container">
        <div class="info">
          <div class="wrapper">
            <h1 class="title">Visum</h1>
            <h2>Vizualize insightful data when planning your&nbsp;next city move.</h2>
            <a href="/map" class="button is-primary is-medium">Launch the experience</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="home-map"></div>
</div>

<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"></script>
<script src="/javascripts/mapbox/home-map.js"></script>