<div class="home">
  <section class="hero">
    <div class="hero-body hero-container">
      <div class="container">
        <div class="info">
          <div class="wrapper">
            <h1>Oh oh!</h1>
            <h2>Your location is unknown... <br>
              Before going back to the homepage, wanna play some music?</h2>
            <a href="/" class="button is-primary is-medium">Go back to the homepage</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="home-map"></div>
</div>

<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"></script>
<script src="/javascripts/mapbox/error-map.js"></script>