@charset "utf-8";
@import "bulma.sass";
@import "sass/utilities/_all.sass";
@import "sass/base/_all.sass";
@import "sass/elements/button.sass";
@import "sass/elements/container.sass";
@import "sass/elements/form.sass";
@import "sass/elements/title.sass";
@import "sass/components/navbar.sass";
@import "sass/layout/hero.sass";
@import "sass/layout/section.sass";
@import "geocoder.css";

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$brand: "Kaushan Script", cursive;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $turquoise;
$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;
$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$modal-content-width: 430px;

// Other elements properties
$layer-icon-size: 22px;
$uiboxes: 345px;

//global transition
a,
a.button,
.toggle-collapse,
.side-menu {
  transition: all 0.25s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: $family-sans-serif;
}

// Main container
.container-fluid {
  position: relative;
  width: 100vw;
  height: 100vh;
}

// Top Nav bar
.navbar {
  position: absolute;
  top: 0;
  width: 100vw;
}
nav {
  .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #a0b3b0;
  }
  .username {
    font-size: 14px;
    margin-right: 10px;
    color: $dark;

    &:hover {
      color: #3273dc;
    }
  }
  .navbar-brand {
    .navbar-item {
      font-family: $brand;
      font-size: 2rem;

      a {
        display: flex;
      }
    }
    .navbar-burger {
      height: 65px;
    }
  }
}

//error message
.error-message {
  font-weight: bold;
  color: red;
}

//basic-map
#map,
#home-map {
  position: absolute;
  top: 65px;
  bottom: 0;
  width: 100%;
  // height: 100vh;
  height: calc(100vh - 65px);
}

#map-view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;

  .session {
    margin-bottom: 20px;
  }
  .row {
    height: 12px;
    width: 100%;
  }
  .colors {
    background: linear-gradient(to right, #2dc4b2, #3bb3c3, #669ec4, #8b88b6, #a2719b, #aa5e79);
    margin-bottom: 5px;
  }
  .label {
    width: 15%;
    display: inline-block;
    text-align: center;
  }
  .geocoder {
    position: absolute;
    z-index: 1;
    width: $uiboxes;
    left: 15px;
    top: 85px;
  }
  .mapboxgl-ctrl-geocoder {
    min-width: 100%;
  }
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 15px 15px 0;
}

//home section
.home {
  section {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;

    .hero-container {
      padding: 0;
    }

    .info {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .wrapper {
        display: flex;
        flex-direction: column;
      }

      h1 {
        font-family: $brand;
        font-size: 8em;
        margin: 0 0 40px;
        color: #fff;
        align-self: center;
        text-align: center;
      }
      h2 {
        font-size: 1.2em;
        color: #fff;
        margin: 0 0 40px;
        align-self: center;
        text-align: center;
        padding: 0 30px;
      }
      a {
        align-self: center;
      }
    }
  }
}

.icon {
  font-size: 16px;
  margin-right: 10px;
}

//Temporary side menu styling
.side-menu {
  width: $uiboxes;
  height: auto;
  top: 135px;
  left: 15px;
  padding: 20px;
  position: absolute;
  background: #f9f9f9;
  border-radius: 4px 0 4px 4px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);

  h6.subtitle {
    margin-bottom: 10px;
  }

  .toggle-collapse {
    position: absolute;
    width: 40px;
    height: 60px;
    background: $primary;
    right: -40px;
    top: 0px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0 4px 4px 0;

    i {
      margin-left: 15px;
    }

    &:hover {
      background: darken($primary, 5%);
    }
  }

  .layer-icon {
    width: $layer-icon-size;
    height: $layer-icon-size;
    display: none;
    text-align: center;
    color: $dark;
    i {
      font-size: 24px;
    }
  }

  .show {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hide {
    display: none;
  }

  #menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    a {
      font-size: 14px;
      color: #404040;
      display: inline-block;
      padding: 0;
      padding: 6px 12px;
      text-decoration: none;
      border: 1px solid $grey-light;
      text-align: center;
      border-radius: 5px;
      margin: 4px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      &:hover {
        background: $info;
        color: #ffffff;
        border-color: $info;
      }
      &.active {
        background-color: $info;
        border-color: $info;
        color: #ffffff;
      }
    }
  }

  hr {
    height: 1px;
    margin: 0.8rem 0 1rem;
    background-color: #d0d1cd;
  }

  .share-url {
    .control-input {
      width: 100%;
    }

    input,
    .button {
      font-size: 0.8rem;
    }
  }
}

.side-menu.collapsed {
  width: 60px;
  height: 60px;
  background: $beige-lighter;
  border-radius: 4px 0 0 4px;
}

//Temporary side menu option styling
.side-menu-option {
  position: absolute;
  bottom: 40px;
  width: 100%;
  margin: 0 15px;

  // Data's detailled view w/ filters
  #collisions-infobox {
    display: none;
    width: calc(100% - 30px);
    padding: 20px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);

    .description {
      width: 20%;
    }
    .casualty {
      width: 20%;
    }
    .sliderbar {
      width: 20%;
    }
    .days {
      width: 20%;

      #filters {
        display: flex;
        justify-content: space-around;
        align-items: first baseline;
      }
    }

    &.active {
      display: flex;
      justify-content: space-around;
    }

    h2 {
      font-size: 20px;
      line-height: 30px;
    }
    h3 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
      color: #2dc4b2;
    }
  }
}

//login-signup static form
.login-signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  .card {
    width: 30%;
  }
}

// login signup modal
.modal {
  .modal-close {
    position: fixed;
  }
}

.login-modal {
  background: #fff;
  padding-bottom: 30px;
  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    display: flex;
    li {
      width: 50%;
    }
  }

  .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
  }
  .tab-group .active a {
    background: #1ab188;
    color: #ffffff;
  }

  .tab-content > div:last-child {
    display: none;
  }
}

.tab-content {
  padding: 0 50px;
  #signup {
    display: none;
  }
  #login {
    display: none;
  }
  #signup.active {
    display: block;
  }
  #login.active {
    display: block;
  }
}

//Profile page
.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h4 {
    text-align: center;
    margin-bottom: 10px;
  }
  .profile-img img {
    border-radius: 100%;
    margin-bottom: 20px;
  }
  ul {
    margin-bottom: 20px;
  }
}

// // Responsive
// Smaller than or equal to 1024px
@media only screen and (max-width: 1023px) {
  #collisions-infobox {
    display: none;

    &.active {
      display: none !important;
    }
  }
}

// Smaller than or equal to 780px
@media only screen and (max-width: 780px) {
  // Geocoder & side-menu
  #geocoder,
  .side-menu {
    max-width: 260px;
  }
  .side-menu {
    top: 150px;

    &-option {
      top: -40px;
    }

    #menu {
      flex-direction: column;
      max-height: 140px;
      overflow-y: scroll;
      flex-wrap: nowrap;

      a {
        justify-content: center;
        min-height: 40px;
        padding: 6px 12px;
      }
    }
  }

  .modal-content,
  .modal-card {
    max-width: 90%;
    height: auto;
  }
}

// Greater than or equal to 1024px
@media only screen and (min-width: 1024px) {
  #collisions-infobox {
    .description {
      width: 28% !important;
    }
    .casualty {
      width: 22% !important;
    }
    .sliderbar {
      width: 20% !important;
    }
    .days {
      width: 22% !important;
    }
  }
}
