@charset "utf-8";
<<<<<<< HEAD
@import "node_modules/bulma/bulma.sass";
@import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/base/_all.sass";
@import "node_modules/bulma/sass/elements/button.sass";
@import "node_modules/bulma/sass/elements/container.sass";
@import "node_modules/bulma/sass/elements/form.sass";
@import "node_modules/bulma/sass/elements/title.sass";
@import "node_modules/bulma/sass/components/navbar.sass";
@import "node_modules/bulma/sass/layout/hero.sass";
@import "node_modules/bulma/sass/layout/section.sass";
=======
@import "bulma.sass";
@import "sass/utilities/_all.sass";
@import "sass/base/_all.sass";
@import "sass/elements/button.sass";
@import "sass/elements/container.sass";
@import "sass/elements/form.sass";
@import "sass/elements/title.sass";
@import "sass/components/navbar.sass";
@import "sass/layout/hero.sass";
@import "sass/layout/section.sass";
>>>>>>> bc4175da588c8c6afd28cf6a4a40c148b0051492
@import "geocoder.css";

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$brand: "Kaushan Script", cursive;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $turquoise;
$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;
$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$modal-content-width: 430px;

// Navbar
.navbar-brand .navbar-item {
  font-family: $brand;
  font-size: 2rem;
}

//global transition
a,
a.button,
.toggle-collapse,
.side-menu {
  transition: all 0.25s ease-in-out;
}

$layer-icon-width: 36px;

body {
  margin: 0;
  padding: 0;
  font-family: $family-sans-serif;
}

//basic-map
#map,
#home-map {
  position: absolute;
  top: 65px;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 65px);
}

#map-view {
  .session {
    margin-bottom: 20px;
  }
  .row {
    height: 12px;
    width: 100%;
  }
  .colors {
    background: linear-gradient(to right, #2dc4b2, #3bb3c3, #669ec4, #8b88b6, #a2719b, #aa5e79);
    margin-bottom: 5px;
  }
  .label {
    width: 15%;
    display: inline-block;
    text-align: center;
  }
}

//home section
.home {
  section {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    .info {
      .wrapper {
        display: flex;
      }
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      h1 {
        font-size: 3em;
        margin: 0;
        margin-right: 20px;
        color: #fff;
      }
      a {
        align-self: center;
      }
    }
  }
}

.icon {
  font-size: 16px;
  margin-right: 10px;
}

//Temporary side menu styling
.side-menu {
  background: #f9f9f9;
  padding: 20px 10px;
  position: relative;
  width: 28%;
  height: auto;
  margin-top: 150px;
  left: 15px;
  h6.subtitle {
    margin-bottom: 10px;
  }
  .toggle-collapse {
    position: absolute;
    width: 40px;
    height: 60px;
    background: $primary;
    right: -40px;
    top: 0px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    i {
      margin-left: 15px;
    }
    &:hover {
      background: darken($primary, 5%);
    }
  }

  .layer-icon {
    width: $layer-icon-width;
    height: $layer-icon-width;
    display: none;
    text-align: center;
    color: $dark;
    i {
      font-size: 24px;
    }
  }

  .show {
    display: block;
  }
  .hide {
    display: none;
  }

  #menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    a {
      font-size: 14px;
      color: #404040;
      display: inline-block;
      padding: 0;
      padding: 6px 12px;
      text-decoration: none;
      border: 1px solid $grey-light;
      text-align: center;
      border-radius: 5px;
      margin: 4px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      &:hover {
        background: $info;
        color: #ffffff;
        border-color: $info;
      }
      &.active {
        background-color: $info;
        border-color: $info;
        color: #ffffff;
      }
    }
  }

  hr {
    height: 1px;
    margin: 0.8rem 0 1rem;
    background-color: #d0d1cd;
  }

  .share-url {
    .control-input {
      width: 100%;
    }

    input,
    .button {
      font-size: 0.8rem;
    }
  }
}

.side-menu.collapsed {
  width: 60px;
  height: 60px;
  background: $beige-lighter;
}

//Temporary side menu option styling
.side-menu-option {
  position: absolute;
  width: 260px;
  height: auto;
  top: 180px;
  right: 30px;

  // Data's detailled view w/ filters
  #collisions-infobox {
    display: none;
    width: 240px;
    padding: 10px 20px;
    transform: translateX(-340px);
    background-color: white;
    transition: all ease-in-out 700ms;

    &.active {
      display: block;
      transform: translateX(10px);
    }

    h2 {
      font-size: 20px;
      line-height: 30px;
    }
    h3 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
      color: #2dc4b2;
    }
  }
}

//geo coder styling
#map-view {
  .geocoder {
    position: absolute;
    z-index: 1;
    width: 30%;
    left: 15px;
    top: 85px;
  }
  .mapboxgl-ctrl-geocoder {
    min-width: 100%;
  }
}

//login-signup static form
.login-signup-wrapper {
  width: 100vh;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}
.card.login-signup-form {
  width: 30%;
  .mapboxgl-ctrl-top-right {
    top: 10px;
    right: 10px;
  }
}
// login signup modal
.modal {
  .modal-close {
    position: fixed;
  }
}

.login-modal {
  background: #fff;
  padding-bottom: 80px;
  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    display: flex;
    li {
      width: 50%;
    }
  }

  .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
  }
  .tab-group .active a {
    background: #1ab188;
    color: #ffffff;
  }

  .tab-content > div:last-child {
    display: none;
  }
}

.tab-content {
  padding: 0 100px;
  #signup {
    display: none;
  }
  #login {
    display: none;
  }
  #signup.active {
    display: block;
  }
  #login.active {
    display: block;
  }
}

// Top Nav bar
nav {
  .profile-pic {
    width: 30px;
    height: auto;
    border-radius: 100%;
  }
  .username {
    font-size: 14px;
    margin-right: 10px;
  }
}

//Profile page
.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .profile-img img {
    border-radius: 100%;
    margin-bottom: 20px;
  }
}
