<div class="login-signup-wrapper">
  <div class="card login-signup-form">
    <div class="card-content">
      <h1 class="title is-3">Welcome back!</h1>
      <form action="/auth/login" method="POST" id="form-container-login">

        <div class="field">
          <label for="username" class="label">Username</label>
          <div class="control">
            <input type="text" name="username" placeholder="JonSnow" class="input">
          </div>
        </div>

        <div class="field">
          <label for="password" class="label">Password</label>
          <div class="control">
            <input type="password" name="password" placeholder="Your password" class="input">
          </div>
        </div>

        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <div class="field is-grouped-right is-grouped">
          <div class="constrol">
            <button class="button is-primary">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>