<nav id="menu"></nav>
<div id="map"></div>


<div class="userId" id="{{user.[0]._id}}"></div>
<div class="userActive" id="{{user.[0].mapLayer}}"></div>





<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<script src="/javascripts/map.js"></script>