{{!-- map  --}}
<div id="map"></div>
{{!-- Map search and filter menu --}}
<div id="map-view">
  <div id='geocoder' class='geocoder'></div>

  <div class="side-menu">
    <div class="toggle-collapse"><i class="fas fa-chevron-left"></i></div>
    <div class="layer-icon"><i class="fas fa-layer-group"></i></div>
    <div class="side-menu-content">
      <nav id="menu"></nav>
      <h6 class="subtitle is-6">Share with your map with your friend!</h6>
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="url" id="current-url" value="">
        </div>
        <div class="control">
          <a class="button copy-url is-info" data-clipboard-target="#current-url">
            Copy
          </a>
        </div>
      </div>
    </div>
  </div>
  {{!-- Interactive data's changes console --}}
  <div class=" side-menu-option">

    <div id="collisions-infobox">
      <h2>Motor vehicle collisions</h2>
      <p>Data: <a href="https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions/h9gi-nx95">Motor
          vehicle
          collision injuries and deaths</a> in NYC, Apr 2019
      </p>

      <div class="session">
        <h3>Casualty</h3>
        <div class="row colors">
        </div>
        <div class="row labels">
          <div class="label">0</div>
          <div class="label">1</div>
          <div class="label">2</div>
          <div class="label">3</div>
          <div class="label">4</div>
          <div class="label">5+</div>
        </div>
      </div>


      <div class='session' id='sliderbar'>
        <h2>Hour: <label id='active-hour'>12PM</label></h2>
        <input id='slider' class='row' type='range' min='0' max='23' step='1' value='12' />
      </div>
      <div class='session'>
        <h2>Day of the week</h2>
        <div class='row' id='filters'>
          <input id='all' type='radio' name='toggle' value='all' checked='checked'>
          <label for='all'>All</label>
          <input id='weekday' type='radio' name='toggle' value='weekday'>
          <label for='weekday'>Weekday</label>
          <input id='weekend' type='radio' name='toggle' value='weekend'>
          <label for='weekend'>Weekend</label>
        </div>
      </div>
    </div>

  </div>
</div>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.min.js'></script>

{{!-- DATA LAYERS --}}
<script src="/javascripts/mapbox/layers/wifi.js"></script>
<script src="/javascripts/mapbox/layers/park.js"></script>
<script src="/javascripts/mapbox/layers/golf.js"></script>
<script src="/javascripts/mapbox/layers/easter.js"></script>
<script src="/javascripts/mapbox/layers/airport.js"></script>
<script src="/javascripts/mapbox/layers/athletic.js"></script>
<script src="/javascripts/mapbox/layers/skatepark.js"></script>
<script src="/javascripts/mapbox/layers/bike-lane.js"></script>
<script src="/javascripts/mapbox/layers/hurricane.js"></script>
<script src="/javascripts/mapbox/layers/collisions.js"></script>
<script src="/javascripts/mapbox/layers/bike-shelter.js"></script>
<script src="/javascripts/mapbox/layers/daycarecenter.js"></script>
{{!-- <script src="/javascripts/mapbox/layers/healthcenter.js"></script> --}}
{{!-- <script src="/javascripts/mapbox/layers/contours.js"></script> --}}

<script src="/javascripts/mapbox/functions/clipboard.min.js"></script>
<script src="/javascripts/mapbox/functions/layers-toggle.js"></script>
<script src="/javascripts/mapbox/mapbox.js"></script>