<nav id="menu"></nav>

<div id="map"></div>

<div class="map-overlay top">
  <div class="map-overlay-inner">
    <fieldset>
      <label>Select layer</label>
      <select id="layer" name="layer">
        <option value="water">Water</option>
        <option value="building">Buildings</option>
      </select>
    </fieldset>
    <fieldset>
      <label>Choose a color</label>
      <div id="swatches"></div>
    </fieldset>
  </div>
</div>